
body {
     margin :0;
   display: flex;
    justify-content: center;
}

.first {
    margin: 50px auto;
    text-align: center;
}

input {
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
    width: 75%;
    text-align: center;
}

#example {
    display : none;
}

#firstid:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.inputcolor {
    color: red;
}

#example.display {
    display: block;
}