
body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.first {
    text-align: center;
}


input {
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
}

#example {
    display: none;
}

input :hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.inputerror {
    color: red;
}

#example.display {
    display: block;
}